body {
    margin-top: 15px;
    text-align: center;
}

.container {
    padding: 3px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

div {
    align-items: center;
}

hr {
    padding: 2px;
}

h3.h {
    background: linear-gradient(transparent 70%, #a7d6ff 70%);
    text-align: left;
}

p {
    text-align: left;
}
.ig-btn {
    border-radius: 5px;
    padding: 0px 10px 2px 10px;
    background: linear-gradient(to right, #5478f2 0%, #f23f79 60%, orange 100%);
    display: inline-block;
    cursor: pointer;
}
.ig-btn:hover {
    opacity: 0.8;
}
.ig-btn a {
    color: #fff;
    font-size: 14px;
}

.youtube {
    text-align: center;
    position: relative;
    width: 80%;
    padding-top: 45%;
}

.youtube iframe {
    position: absolute;
    top: 0;
    left: 10%;
    right: 0;
    width: 100%;
    height: 100%;
}

.l-bar {
    /* max-height: calc(100vh - 9rem); */
    overflow-y: auto;
    margin-top: 15px;
}

.border-r {
    border-right: 1px solid #00000010;
    margin-right: 20px;
    height: calc(100vh)
}

.footer {
    height: 40px;
}

.carousel-caption {
    color: #000000;
}

.carousel-inner {
    height: auto;
}

.carousel-item {
    position: relative;
    top: 0;
    left: 10%;
    z-index: 0;
    max-width: 80%;
    right: 10%;
}

.carousel-item .half-img {
    width: 1000px;
    max-width: 50%;
}

.carousel-item .full-img {
    width: 1000px;
    max-width: 100%;
}

.carousel-caption {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    left: 60%;
    right: 0;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'><path d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/></svg>");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'><path d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/></svg>");
}

.fa-star {
    color: orange;
}

.fa-star-o {
    color: orange;
}

.fav-star {
    font-size: 1.5rem;
    position: absolute;
    right: 5%;
    bottom: 5%;
    align-self: end;
}

.nav-link {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}